import * as S from './styles'
import { {{pascalCase name}}Props } from './types'

const {{pascalCase name}} = ({ children }: {{pascalCase name}}Props) => {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
      {children}
    </S.Wrapper>
  )
}

export default {{pascalCase name}}
